.carrusel {
    display: flex;
    transition: transform 0.5s ease;
  }
  .slide img {
    max-width: 100%;
    max-height: 100%;
    width: 20rem;
    height: 15rem;
  }

  .slide {
    min-width: 100%;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  #anterior {
    margin-left: 1rem;
  }

  #siguiente {
    margin-left: 15rem;
  }

  .information{
    margin-left: 15rem;
  }

/* contenidoindex.css */
.video-container {
  position: relative;
  width: 50%;
  /*padding-bottom: 56.25%;  Mantiene una proporción de 16:9 */
  /*overflow: hidden;*/
  background-color: rgba(0, 0, 0, 0.55); /* Fondo negro mientras carga el video */
  margin: 48px 5px 5px 5px;
  border-radius: 15px;
  padding-left: 50px;

}

#introVideo {
  position: initial;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el video para que cubra toda el área sin distorsión */
}

@media (max-width: 768px) {
  #introVideo {
    height: auto;
    width: 100%;
  }
}
